.menu {
  background-color: #202020;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 5px 0 5x 0 #00000020;
}

.menuItem {
  margin: 0.25rem;
  padding: 1rem;
  display: grid;
  place-items: center;
  gap: 0.25rem;
  font-size: 0.825rem;
  opacity: 0.6;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;

  &.active {
    opacity: 1;
    background-color: #303030;
  }

  &:hover {
    opacity: 1;
    background-color: #404040;
  }

  &.bottom {
    justify-self: flex-end;
  }
}
