.app {
  --background-color: hsl(235, 100%, 7%);
  --grid-color: hsla(0, 0%, 31%, 0.1);
  --grid-width: 1px;

  height: 100%;
  width: 100%;
  background-size: 20px 30px;
  /* prettier-ignore */
  background-image: 
    linear-gradient(90deg, var(--grid-color) var(--grid-width), transparent 0),
    linear-gradient(180deg, var(--grid-color) var(--grid-width), transparent 0);
  background-color: var(--background-color);
  display: grid;
  grid-template-areas: "header header" "sidemenu content" "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  gap: 0;
}

.header {
  grid-area: header;
}

.menu {
  grid-area: sidemenu;
}

.content {
  grid-area: content;
  padding: 1rem;
}

.footer {
  grid-area: footer;
}
